<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @person.password %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @person.born_at %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= @person.admin %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
