<%= form_with(model: book, local: true, html: { multipart: true }) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.date_select :published_at, id: :book_published_at %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :book_text %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :book_value %>
  </div>

  <div class="field">
    <h2>Categorias</h2>
    <ul>
      <%= collection_check_boxes :book, :category_ids, @categories, :id, :name do |builder| %>
        <li>
          <%= builder.label { builder.check_box + builder.text } %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, id: :book_person_id %>
  </div>

  <div class="field">
    <%= file_field_tag :data_stream %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
