<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong>Text:</strong>
  <%= @book.text %>
</p>

<p>
  <strong>Value:</strong>
  <%= @book.value %>
</p>

<p>
  <strong>Person:</strong>
  <%= @book.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @book.person %>
</p>

<p>
  <%= @book.image ? image_tag(@book.image) : '' %>
</p>

<h2>Categorias</h2>
<ul>
  <% for category in @book.categories %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
