<li id="item_<%= cart_item[:id] %>">
  <%= image_tag(cart_item[:item].image, height: 100) %>
  <%= cart_item[:item].title %><br/>
  <%= text_field_tag :qty, cart_item[:qty], size: 3, readonly: 'readonly' %>
  <%= number_field_tag :qty, cart_item[:qty], min: 0, max: 999,
        class: 'cart-qty', 'data-id': cart_item[:id] %>

  <span class="book_value"><%= number_to_currency(cart_item[:item].value) %></span>

  <%= link_to 'Remover', remove_path(cart_item[:id]), method: 'delete', remote: true,
        data: {confirm: 'Tem certeza?' } %><br/>
</li>
