<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <h1>Bookstore - A maior livraria virtual (depois da Amazon e outras)</h1>
  </header>
  <nav>
    <ul>
      <li><%= link_to 'Inicial',  '/' %></li>
      <li><%= auth_link %></li>
    </ul>
  </nav>
  <% if params[:controller] == 'pub' %>
    <section id="search">
      <%= label_tag :search_term, 'Buscar produtos' %>
      <%= text_field_tag :search_term, params[:term] %>
    </section>
  <%  end %>
  <section id="main">
    <%= yield %>
  </section>
  <footer>
    Desenvolvido por Pedro Custódio - <%= Date.current.year %>
  </footer>
</body>
</html>
